API_URL_ANDROID=http://10.0.2.2:5000/v1
API_URL_WEB=http://localhost:5000/v1
API_URL_DEVICE=http://192.168.1.42:5000/v1  # ton IP locale pour tester sur téléphone
API_URL_PROD=https://api.tondomaine.com/v1

EXPO_PUBLIC_API_URL=https://your-api.com/api/v1/
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-google-android-client-id
EXPO_PUBLIC_FACEBOOK_CLIENT_ID=your-facebook-client-id